@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #5dbfe600, #8db0e444);
}

.calculator{
    border: 1px solid #18233d;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(66, 100, 145, 0.5);

}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #3a6fb4;
}

input::placeholder{
    color: #9493d6;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #194980;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(12, 52, 163, 0.671);
    cursor: pointer;
}

.equalBtn{
    background-color: #85c3f0;
}

.operator{
    color: #092d50;
}